* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.head-section {
  padding: 25px 7%;
}

nav {
  justify-content: space-between;
  display: flex;
}

nav h1 {
  font-family: "Arial";
  font-size: 18px;
  padding: 15px 20px;
  text-decoration: underline;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
}

nav ul li a {
  font-family: "Arial";
  text-decoration: none;
  font-size: 13px;
  color: darkgrey;
  letter-spacing: 2px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: black;
}

.Contact {
  font-family: "Arial";
  text-transform: uppercase;
  font-size: 13px;
  padding: 20px 25px;
  text-decoration: none;
  background: black;
  color: white;
  letter-spacing: 2px;
  align-self: center;
  border-radius: 10px;
}

.Contact:hover {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: darkgray;
  color: black;
}

.business {
  margin: 10px 5%;
  background: url(/Images/bac.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin-top: 20px;
  position: relative;
}

.business-area {
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.business-area h1 {
  color: white;
  font-family: Arial;
  font-size: 50px;
  margin-bottom: 10px;
}

.business-area p {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
}

.business-area a {
  background: white;
  color: black;
  padding: 20px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.business-area a:hover {
  background: darkgrey;
  color: white;
  border-radius: 10px;
}

.about {
  padding: 10px 7%;
}

.believe {
  margin-top: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.believe h6 {
  font-size: 15px;
  color: darkgrey;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.believe h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.about-area {
  font-size: 15px;
  margin: 30px;
}

.area-contain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  justify-content: space-between;
}

.area {
  flex-basis: 50%;
  margin-bottom: 20px;
  padding: 10px;
}

.area h4 {
  color: darkgrey;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.area h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.area p {
  line-height: 1.5;
  margin-bottom: 50px;
}
.area-img {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.area-img img {
  display: block;
  width: 90%;
  padding: 0 27px;
}

.Deems {
  padding: 10px 7%;
}

.updates {
  display: flex;
}

.update {
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.update h2 a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.update h2 a:hover {
  color: darkgray;
}

.update h6 {
  margin-top: 10px;
  font-size: 11px;
  color: darkgrey;
}

.update p {
  margin-top: 20px;
}

.footer {
  background: lightgrey;
  height: 80vh;
  margin: 10px 4%;
  position: relative;
  margin-bottom: 40px;
}

.foot {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
}

.foot h2 {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.foot h6 {
  font-size: 15px;
  font-family: Arial;
  margin-bottom: 40px;
  font-weight: 100;
  letter-spacing: 2px;
}

.end {
  text-align: center;
  margin-bottom: 40px;
}

.end a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.end .fa-brands {
  padding: 10px;
}

.end .fa-brands:hover {
  color: blue;
}
